<%- include("partials/header"); -%>

<form action="/create" method="post">
    <input type="text" placeholder="product name" name="name">
    <input type="text" placeholder="product price" name="price">
    <input type="text" placeholder="img url" name="url">
    <button type="submit">create</button>
</form>


<%- include("partials/footer"); -%>