<%- include('partials/header') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">uh oh!!</h1>
      <p class="lead">Wrong username or password. Try again!</p>
      <form action="/faliure" method="POST">
        <button  class= "btn btn-warning btn-lg" >Try again</button>
    </form>
    </div>
    
  </div>  
  



<%- include('partials/footer') %>