/* Global styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

h1 {
	font-size: 24px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* Main styles */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.product-image {
	flex: 0 0 45%;
}

.product-details {
	flex: 0 0 45%;
}

.product-details h2 {
	margin-bottom: 10px;
}

.product-details ul {
	list-style: none;
	margin-bottom: 20px;
}

.product-details li {
	margin-bottom: 10px;
}

.product-details button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Footer styles */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

.shirt_orange{
    height: 600px;
    width: 650px;
}
.nav-item-nav-link{background-color:orange;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;}
      .member{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }
     .wrapper{
        margin-top: 10%;
     
     }
     .wrapper h1{
        font-size: 52px;
        margin-bottom: 60px;
        text-align: center;
     }
     .team{
        display: flex;
        text-align: center;
        width: auto;
        justify-content: center;
     }
     .team .team_member{
        background: orange;
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        line-height: 20px;
        position: relative;
     }
     .team .team_member h3{
        color: red;
        font-size: 26px;
        margin-top: 50px;
     }
     .team .team_member p.role{
        color: yellow;
        font-size: 12px;
        text-transform: uppercase;
        margin: 12px 0;
     }
     .team .team_member .team_img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
     }
     .team .team_member .team_img img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 8px;
     } 
     button{
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
     }